body {
  text-align: center;
  font-family: Arial;
}

canvas {
  border: 2px solid black;
  cursor: crosshair;
  display: block;
  margin: auto;
}

#preview {
  margin-top: 10px;
  max-width: 400px;
  border: 2px solid green;
}